h1,
h2,
h3{
    font-family: 'Clash Display', sans-serif;
    font-weight: 500;
}

h1{
    font-size: 8.8rem;
    line-height: 109%;
}

h2{
    font-size: 5.6rem;
    line-height: 120%;
}

h3{
    font-size: 2.6rem;
    line-height: 130%;
}

h4{
    font-family: 'Clash Display', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
}